
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="header.component.css">
</head>
<body>
  <div class="container">
    <div class="info">
      <p class="name">Héctor Miguel Torres</p>
      <p class="carrer">Software Engineer</p>
    </div>

    <img class="selfimg" src="https://firebasestorage.googleapis.com/v0/b/pruebas-5to.appspot.com/o/perro.jpg?alt=media&token=51d8c10e-a62e-44ed-8e11-807b80f601aa" width="100" height="100">

    <ul>
      <li class="correo">torreshectormig&#64;gmail.com</li>
      <li class="num">2712119825</li>
      <li>Córdoba, Veracruz</li>
      <li class="rs">&#64;SoyEtoor</li>
    </ul>
  </div>

</body>
</html>


