
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.component.css"> <!-- Asegúrate de usar la ruta correcta -->
    <title>Mi CV</title>
</head>

<body>
    <app-header></app-header>

    <div class="row-container">
        <app-work-experience></app-work-experience>
        <app-interest></app-interest>
        <app-skills></app-skills>
    </div>

    <div class="row-container">
        <app-languages></app-languages>
        <app-education></app-education>
        <app-achievements></app-achievements>
    </div>
</body>

</html>

